.sort-section {
    margin-left: 20%;
    button{


        background-color:#768d87;
        -moz-border-radius:15px;
        -webkit-border-radius:15px;
        border-radius:15px;
        border:2px solid #566963;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        padding:18px 48px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2b665e;

    }

    button:hover {
        background-color:#6c7c7c;
    }
    button:active {
        position:relative;
        top:1px;
    }
}
